/*---MAIN COLOR SET---*/
$main-bg-color:#ede8e6;
$var1-main-bg-color:#f4f1ef;
$var2-main-bg-color:#e9e6e3;
$var3-main-bg-color:#c0bdb9;

/*---MAIN FONT SET---*/
$main-p-font-color:#353535;

/*---ANIMATIONS---*/
$main-duration: 0.5s;
$text-marqee-duration: 12s;
$text-marqee-duration-delay : $text-marqee-duration/4s;