@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';


div#submit-fake-user {
  form {
    @include centerFlex;
    height: auto;
    width: 100vw;
    margin: 0;
  }

  .new-user {
    @include centerFlex;
    padding: 2em 0 2em 0;
    font-size: 3em;
    .new-user--name{
      font-family: 'roboto', sans-serif;
    }
  }
}