@import '../../style/variables.scss';
@import '../../style/mixins.scss';

div#presentation-perso{
    width: 100vw;
    height: auto;
    @include myBorder;
}

.pp{
    width: 25vw;
    height: auto;
    border-radius: 50%;
    @include myBorder;
}