@import '../../style/variables.scss';
@import '../../style/mixins.scss';

div#presentation-perso {
    width: 100vw;
    height: auto;
    @include myBorder;

    .image-container {
        position: relative;

        width: 100vw;
        height: 30vh;

        .pp {
            z-index: 2;
            position: absolute;
            /* width: auto; */
            height: 30vh;
            transition: transform 1s ease-in-out;
            border-radius: 50%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            &.shifted {
                transform: translateX(80%);
            }
        }

        .ee-2 {
            z-index: 1;
            position: absolute;

            margin: 4em;

            width: auto;
            height: 20vh;

            transition: transform 0.3s ease-in-out;
            &:hover {
                transform: scale(1.1);
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }
}

/*.pp {
    width: 25vw;
    height: auto;
    border-radius: 50%;

    
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    
    @include myBorder;

    .ee-2 {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      .pp.shifted {
        transform: translateX(50%);
      }
}*/